<html>
    {{>header}}
    <body>
        {{>navMenu}}
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h1>Crear Curso:</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <form action="" method="POST" class="form">
                        <div class="form-group">
                            <label for="">id Curso</label>
                            <input type="number" class="form-control" placeholder="identificador del Curso">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Crear Curso</button>
                    </form>
                </div>
            </div>
        </div>
        
    {{>toolsjs}}
    {{>footer}}
    </body>
</html>