<html>
    {{>header}}
    <body>
        {{>navMenu}}
        <div class="container">
            
            <div class="row">
                <div class="col-5"></div>
               <div class="col-5">
                    <img src="./img/Warning.jpg" class="img-fluid rounded" alt="">
                </div>
                 
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-sm-6">
                    <h1>Lo sentimos algo fallo... ups</h1>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
    
</html>