<html>
    {{>header}}
    <body>
        <div class="content-fluit">
          <div class="row">
            <div class="col-sm-2">
              <h1>Bienvenido:</h1>
            </div>
            <div class="col-sm-2">
              <h1>{{usuario}}</h1>
            </div>
          </div>
        </div>
        {{>toolsjs}}
        {{>footer}}
    </body>
</html>