<html>
{{>header}}
<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Inscribir Estudiante:</h1>
            </div>
        </div>
        
    </div>
    {{>footer}}
    {{>toolsjs}}
</body>
</html>