<html>
{{>header}}

<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Promedio:</h1>
            </div>
        </div>
    </div>
    <div class="container">
        
        <form action="./promedioResult" method="POST">
            <div class="form-group">
                <label >Nombre:</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="form-group">
                <label >Nota1:</label>
                <input type="text"  class="form-control" name="nota1">
            </div>
            <div class="form-group">
                <label for="">Nota2:</label>
                <input type="text" class="form-control" name="nota2">
            </div>    
            <div class="form-group">
                <label for="">Nota3:</label>
                <input type="text" class="form-control" name="nota3">
            </div>
           
                <button type="button" class="btn btn-primary" >Ingresar nota</button>
        </form>
    
    </div>

<form action="/promedioResult">
    <label >Nombre:</label>
    <input type="text"  name="nombre">
    <button type="button" >Ingresar nota</button>
</form>

    {{>toolsjs}}
    {{>footer}}
</body>


</html>
