<html>
{{>header}}

<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Promedio:</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="../promedioResult" role="form" class="form-horizontal" method="POST">
            <div class="form-group">
                <label >Nombre:</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="form-group">
                <label >Nota1:</label>
                <input type="text"  class="form-control" name="nota1">
            </div>
            <div class="form-group">
                <label>Nota2:</label>
                <input type="text" class="form-control" name="nota2">
            </div>    
            <div class="form-group">
                <label>Nota3:</label>
                <input type="text" class="form-control" name="nota3">
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" >
                    <button type="button submit" class="btn btn-primary" >Ingresar nota</button>
                </div>
            </div>
        </form>
    
    </div>

    {{>toolsjs}}
    {{>footer}}
</body>
</html>
