<html>
    {{>header}}
    <body>
        {{>gray}}
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-6">
                    <h1>{{resultado}}</h1>
                </div>
            </div>
        </div>
        
        {{>toolsjs}}
        {{>footer}}
    </body>
</html>