<html>
{{>header}}
<form action="/promedios" method="POST">
    <label >Nombre</label>
    <input type="text" name="nombre">
    <label >Nota1:</label>
    <input type="text" name="nota1">
    <label for="">Nota2</label>
    <input type="text" name="nota2">
    <label for="">Nota3</label>
    <input type="text" name="nota3">
    <button>Ingresar nota</button>
</form>

{{>footer}}

</html>
