<html>
{{>header}}
<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Ver Curso:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <table class="table">
                    <thead>Nombre curso</thead>
                    <tr>
                        <td>Node Js</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    {{>footer}}
    {{>toolsjs}}
</body>
</html>