<html>
{{>header}}
<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Ver Inscrito:</h1>
            </div>
        </div>
        
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <th>Nombre Estudiante</th>
                
            </thead>
            <tr> 
                {{#each listestudiantes as |estudiantes|}}
                    <td>{{estudiantes.nombre}} {{estudiantes.apellido}}</td>
                {{/each}}
            </tr>
        </table>
    </div>
    {{>footer}}
    {{>toolsjs}}
</body>
</html>