<html>
{{>header}}
<body>
    {{>navMenu}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Ver Inscrito:</h1>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <table class="table table-bordered table-condensed table-striped table-hover">
                    <thead>
                        <th scope="col">Nombre Estudiante</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Cursos</th>
                    </thead>
                        {{#each listestudiantes as |estudiantes|}}
                            <tr  class="table-row" data-href="http://tutorialsplane.com">
                                <td>{{estudiantes.nombre}} {{estudiantes.apellido}}</td>
                                <td>{{estudiantes.nidentificacion}}</td>
                                <td>{{estudiantes.correo}}</td>
                                <td >Ver</td>
                            </tr>
                            
                        {{/each}}
                    </table>
            </div>
        </div>
        
    </div>
    {{>footer}}
    {{>toolsjs}}
</body>
</html>