
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/crearCurso">Crear Curso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/verCurso">Ver Curso<span class="sr-only">(current)</span> </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/InscribirEstudiante">Inscribir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/verInscrito">Ver inscritos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bonus
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/promedio">Promedio</a>
                  <a class="dropdown-item" href="https://github.com/aspnetboilerplate/module-zero-core-template">Angular + NetCore</a>
                  <a class="dropdown-item" href="https://github.com/bwdbooks/nodejs-mongodb-angularjs-web-development">Angular + Node js</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
  </div>
  {{>gray}}
